# Node dependencies
node_modules/

# Vite build output
dist/

# Vite cache
.vite/

# Yarn
.yarn/
.pnp.*
.yarnrc.yml

# pnpm
.pnpm/
pnpm-lock.yaml

# Bun
.bun/
bun.lockb

# Deno
deno.lock
deno.json
deno.jsonc

# Log files
*.log

# macOS
.DS_Store

# VSCode
.vscode/

# ESLint
.eslintcache

# Lighthouse 
.lighthouseci
