 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/6509aca0b1b181023a33749b_1695132832099.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-1 {
  width: 962px;
  min-height: 444px;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-1 .u-text-1 {
  font-size: 4rem;
  text-shadow: 2px 2px 8px rgba(69,77,79,0.4);
  letter-spacing: 2px;
  text-transform: none;
  font-weight: 700;
  font-family: Poppins-SemiBold;
  margin: 8px 55px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-family: Poppins-Regular;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.4;
  width: 667px;
  margin: 29px auto 0;
}

.u-section-1 .u-text-3 {
  letter-spacing: 0px;
  font-size: 1rem;
  text-transform: none;
  font-family: Poppins-Light;
  width: 409px;
  margin: 8px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin-top: 2px;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  border-style: none;
  margin: 27px auto 0;
  padding: 14px 42px 15px 41px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    min-height: 499px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    animation-duration: 1000ms;
    width: 744px;
    --animation-custom_in-scale: 1;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.75rem;
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 281px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 40px auto 40px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 198px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  text-transform: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 1px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 198px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: Poppins-Regular;
  margin: 3px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 231px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-form-1 {
  margin: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-family: Poppins-Regular;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 240px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 163px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 163px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 190px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 250px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-image: linear-gradient(#020505, #002d39);
}

.u-section-3 .u-sheet-1 {
  min-height: 462px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 0 59px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 403px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-image-1 {
  width: 286px;
  height: 286px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 403px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 42px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 37px 20px 0 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 332px;
    z-index: 0;
    background-position: 50% 50%;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 383px;
    z-index: 2;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
    margin-left: 16px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 44px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 435px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 364px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 489px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 204px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 308px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 6px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 538px;
}

.u-section-4 .u-text-1 {
  width: 734px;
  font-weight: 700;
  font-size: 2.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 57px auto 0;
}

.u-section-4 .u-text-2 {
  font-style: normal;
  width: 544px;
  margin: 20px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 49px auto 57px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 269px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 95px;
  width: 95px;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 269px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 95px;
  width: 95px;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 269px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 95px;
  width: 95px;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 537px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 222px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 222px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 222px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 42px;
    margin-right: 42px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 458px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 566px;
}

.u-section-5 .u-image-1 {
  height: 327px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1035px;
  margin: -108px auto 60px calc(((100% - 1140px) / 2) + 53px);
}

.u-section-5 .u-layout-cell-1 {
  min-height: 288px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 400;
  font-family: Poppins-Regular;
  margin: 42px 0 0;
}

.u-section-5 .u-text-2 {
  font-style: normal;
  margin: 14px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 288px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 42px 28px 0 14px;
}

.u-section-5 .u-text-4 {
  font-style: normal;
  margin: 14px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 288px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 400;
  font-family: Poppins-Regular;
  margin: 72px 25px 0;
}

.u-section-5 .u-text-6 {
  font-style: normal;
  margin: 14px 25px 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 541px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 262px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 262px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 10px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 262px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 651px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 780px;
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 299px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 7px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 299px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 299px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 947px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -157px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 173px;
    order: 2;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 173px;
    order: 1;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-3 {
    order: 0;
    min-height: 181px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 287px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 35px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 223px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 221px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.5rem;
  }
} .u-section-6 {
  background-image: none;
  min-height: 494px;
}

.u-section-6 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 494px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 3px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: 700;
  text-transform: none;
  font-family: Lato, sans-serif;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 25px 4px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  letter-spacing: 0px;
  font-weight: 400;
  text-transform: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 19px 1px 0;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  margin: 27px auto 0;
}

.u-section-6 .u-image-1 {
  min-height: 494px;
  background-image: url("images/e8823c695e8508609fc808256b97bb4bd28c32393d97861426a3bd37f272fb3d513926023f963cc0a3508481375fb00d41fe4cc638254140801594_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 438px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 568px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    min-height: 568px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 423px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 423px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-6 .u-image-1 {
    min-height: 423px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 416px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 21px;
  }

  .u-section-6 .u-image-1 {
    min-height: 294px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 467px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 3px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 30px;
  }

  .u-section-6 .u-image-1 {
    min-height: 185px;
  }
} .u-section-7 {
  background-image: none;
  min-height: 403px;
}

.u-section-7 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 auto 0 0;
}

.u-section-7 .u-image-1 {
  min-height: 403px;
  background-image: url("images/50473f3e4e2f6a8014e3fe9ca551da132e0cbbe66489a92f8df448a441dc9c267e8885220e02ef8ab1a4c331ff788e61449b93a6750396b3e33d99_1280.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 403px;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 0 0 20px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 311px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-7 .u-image-1 {
    min-height: 311px;
    z-index: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 311px;
    z-index: 2;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 163px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-7 .u-image-1 {
    min-height: 238px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-7 .u-image-1 {
    min-height: 268px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 106px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-left: 125px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 368px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 390px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
  }

  .u-section-7 .u-image-1 {
    min-height: 169px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 6px;
  }
} .u-section-8 {
  background-image: linear-gradient(#020505, #002d39);
}

.u-section-8 .u-sheet-1 {
  min-height: 684px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 594px;
}

.u-section-8 .u-container-layout-1 {
  padding: 28px 18px;
}

.u-section-8 .u-text-1 {
  font-family: Poppins-Regular;
  margin: 0 0 0 5px;
}

.u-section-8 .u-image-1 {
  width: 320px;
  height: 170px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 16px auto 0 0;
}

.u-section-8 .u-text-2 {
  margin: 22px 3px 0;
}

.u-section-8 .u-text-3 {
  font-family: Poppins-Regular;
  margin: 39px 6px 0 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 594px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-8 .u-text-4 {
  font-family: Poppins-Regular;
  margin: 0;
}

.u-section-8 .u-image-2 {
  width: 320px;
  height: 170px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 14px auto 0 0;
}

.u-section-8 .u-text-5 {
  margin: 21px 0 0;
}

.u-section-8 .u-text-6 {
  font-family: Poppins-Regular;
  margin: 40px 0 0;
}

.u-section-8 .u-layout-cell-3 {
  background-image: none;
  min-height: 594px;
}

.u-section-8 .u-container-layout-3 {
  padding: 28px 20px;
}

.u-section-8 .u-text-7 {
  font-family: Poppins-Regular;
  margin: 0;
}

.u-section-8 .u-image-3 {
  height: 170px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 16px;
  margin-bottom: 0;
}

.u-section-8 .u-text-8 {
  margin: 21px 0 0;
}

.u-section-8 .u-text-9 {
  font-family: Poppins-Regular;
  margin: 40px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 490px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
  }

  .u-section-8 .u-image-1 {
    width: 258px;
    height: 135px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 490px;
  }

  .u-section-8 .u-image-2 {
    width: 253px;
    height: 134px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 490px;
  }

  .u-section-8 .u-image-3 {
    height: 137px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-image-1 {
    width: 185px;
    height: 96px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-image-2 {
    width: 180px;
    height: 95px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 598px;
  }

  .u-section-8 .u-image-3 {
    height: 100px;
    margin-top: 14px;
  }

  .u-section-8 .u-text-8 {
    margin-top: 24px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 387px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    width: 521px;
    height: 234px;
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 487px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-2 {
    margin-top: 18px;
    margin-left: auto;
  }

  .u-section-8 .u-text-5 {
    margin-top: 16px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-3 {
    height: 260px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 184px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-image-1 {
    width: 320px;
    height: 144px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 411px;
  }

  .u-section-8 .u-image-2 {
    margin-top: 16px;
  }

  .u-section-8 .u-text-5 {
    margin-top: 18px;
  }

  .u-section-8 .u-image-3 {
    height: 160px;
  }
} .u-section-9 {
  min-height: 567px;
}

.u-section-9 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 587px;
}

.u-section-9 .u-container-layout-1 {
  padding: 50px 80px;
}

.u-section-9 .u-icon-1 {
  height: 76px;
  width: 76px;
  background-image: none;
  margin: 43px auto 0;
}

.u-section-9 .u-text-1 {
  font-size: 2.25rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: Poppins-Regular;
  margin: 14px 0 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.125rem;
  font-style: normal;
  font-family: Poppins-Regular;
  margin: 26px 0 0;
}

.u-section-9 .u-btn-1 {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: Poppins-Regular;
  border-style: none;
  margin: 37px auto 0;
}

.u-section-9 .u-image-1 {
  background-image: url("images/b9809d3206493db9a7c58de528792b5db6835af67beeddbd1704379555f143d421ebbf8f9f2c6d645647350f431fcb1cf004e589ae2219bc364d02_1280.jpg");
  min-height: 567px;
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-9 {
    min-height: 537px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 567px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-9 .u-image-1 {
    min-height: 537px;
  }
}

@media (max-width: 991px) {
   .u-section-9 {
    min-height: 338px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-9 .u-image-1 {
    min-height: 411px;
    background-position: 84.5% 50%;
  }
}

@media (max-width: 767px) {
   .u-section-9 {
    min-height: 528px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 393px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-9 .u-image-1 {
    min-height: 514px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-9 {
    min-height: 362px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-image-1 {
    min-height: 324px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 630px;
}

.u-section-10 .u-group-1 {
  width: 700px;
  min-height: 567px;
  margin: 60px auto;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-10 .u-text-2 {
  margin: 15px auto 0;
}

.u-section-10 .u-form-1 {
  height: 340px;
  width: 570px;
  margin: 20px auto 0;
}

@media (max-width: 767px) {
  .u-section-10 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 0;
  }

  .u-section-10 .u-form-1 {
    width: 520px;
    margin-left: -10px;
    margin-right: -10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-10 .u-form-1 {
    width: 320px;
  }
}@font-face {
  font-family: 'Poppins-SemiBold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Poppins-SemiBold.ttf);
}@font-face {
  font-family: 'Poppins-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Poppins-Regular.ttf);
}@font-face {
  font-family: 'Poppins-Light';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Poppins-Light.ttf);
}